* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.game-container {
  min-width: 34rem;
}

.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.stats {
  color: #fff;
  font-size: 1rem;
}

.cards-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: .3125rem;
}

.card {
  width: calc(25% - .3125rem);
  aspect-ratio: 1; /* coloca a altura baseada na largura */
  background-color: #8234e9;
  border: 2px solid #5a0caf;
  border-radius: .75rem;
  background-image: url(./assets/lines.svg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.revealed {
  background-color: #fff;
  border-color: #dadada;
}

.card-emoji {
  font-size: 1.875rem;
  display: none;
}

.revealed .card-emoji {
  display: block;
}

.button {
  width: 100%;
  height: 3.25rem;
  background-color: #8234e9;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  border-radius: .4375rem;
  border: 2px solid #5a0caf;
  margin-top: 2rem;
  cursor: pointer;

  transition: background-color 0.3s;
}

.button:hover {
  background-color: #7029d6;
}